{% layout 'layout.liquid' %}
{% block content %}
<div>
    <h2 class="display-6">Goals</h2>
    <div class="row">
        {% for goal in goals %}
        <div class="card2 item" style="width: 100%">
            <h5 class="card-header">Name: {{goal.name}}</h5>
            <p class="card-text">Description: {{goal.description}}</p>
            <input type="checkbox" id="done" class="check" style="float: right;" />
                <!-- <div class="content" style="display: inline-block"> -->
                    <a href=""></a>
                </div>
            <!-- </div>
            <a href="/goals/{{goal._id}}" class="btn btn-info">View goal</a>
            </div> -->
        </div>
        {% endfor %}
    </div>
    <a href="/goals/new" class="btn btn-primary">Create new goal</a>
</div>

{% endblock %}